h1{
    text-align: center;
    color: rgb(216, 163, 84);
    text-shadow: 1px 3px 3px rgb(141, 108, 57);
    font-weight: bold;
    
}
h2{
    font-weight: bold;
    padding-top: 1rem;
}
.row{
    height: 800px;
    padding: 10px;
}
.col-3{
    min-height: 600px;
    width: 450px;
    border-radius: 10px;
}
.content{
    color: rgb(26, 25, 25);
    font-weight: bold;
    text-align: center;
}
.input-group{
    height: 100px;
    padding-top: 2rem;
}
.weatherInfo{
    color: rgb(26, 25, 25);
    font-weight: bold;
    text-align: center;
}